<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SimpleCORSFilter</filter-name>
        <filter-class>br.cefetmg.radar.filters.SimpleCORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SimpleCORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/html/incidents.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>incidents</servlet-name>
        <jsp-file>/html/incidents.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>incidents</servlet-name>
        <url-pattern>/incidents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>help</servlet-name>
        <jsp-file>/html/help.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>help</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signup</servlet-name>
        <jsp-file>/html/signup.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createIncident</servlet-name>
        <jsp-file>/html/create-incident.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createIncident</servlet-name>
        <url-pattern>/incidents/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <jsp-file>/html/edit-user.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createRoute</servlet-name>
        <jsp-file>/html/create-route.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>createRoute</servlet-name>
        <url-pattern>/routes/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>victimsStatistics</servlet-name>
        <jsp-file>/html/victims-statistics.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>victimsStatistics</servlet-name>
        <url-pattern>/statistics/victims</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>criminalsStatistics</servlet-name>
        <jsp-file>/html/criminals-statistics.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>criminalsStatistics</servlet-name>
        <url-pattern>/statistics/criminals</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>circunstancesStatistics</servlet-name>
        <jsp-file>/html/circunstances-statistics.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>circunstancesStatistics</servlet-name>
        <url-pattern>/statistics/circunstances</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
