<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <title>Radar - Ocorrências</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/mustache.min.js"></script>
    <script>
    function loadTemplate() {
        $.get('navbar.html', function(template) {
            var rendered = Mustache.render(template);
            $('header').html(rendered);
            $('#to-incidents').addClass('active');
        });
    }
    </script>
</head>
<body onload="loadTemplate()">
    <header></header>

    <section id="content">
        <div id="map" class="map"></div> 
        <div class="modal fade" id="info-window" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div class="row">
                            <div class="col-xs-12" id="info-window-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="login-window" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4>Entrar</h4>
                    </div>
                    <form>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>E-mail ou usuário</label>
                            <input class="form-control" type="text" name="user" placeholder="E-mail ou usuário">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input class="form-control" type="password" name="pass" placeholder="Senha">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <button class="btn btn-primary" type="submit" name="login">Entrar</button>
                        </div>
                        <div class="row">
                            <a href="#">Não tem conta? Cadastre-se!</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHiw6bxUMu-cjHlBCH4a4HSEeDIq3v4U4"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/incidents.js"></script>
    <script id="info-window-template" type="text/mustache">
        <p>{{ num_victims }}</p>
        <p>{{ num_criminals }}</p>
        <p>{{ victims_transportation }}</p>
        <p>{{ criminals_transportation }}</p>
        <p>{{ violence }}</p>
        <blockquote>
            <p>{{ description }}</p>
            <footer>{{ footer }}</footer>
        </blockquote>
        <p><strong>Objetos levados</strong></p>
        <p>{{ objects_taken }}</p>
    </script>
</body>
</html>
