
<html>
<head>
  <title> Registro de Ocorrência </title>

  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Ewert|Poppins" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--<script type="text/javascript" src="js/registro_ocorrencia.js"></script>-->
</head>

<body>
  <header>
    <p id="header-registro-ocorrencia"> Registro de Ocorrência </p>
  </header>

<form method="post">
<div class="block block-left">

<div class="form-group row" id="local-div">
<label for="local" class="col-xs-2 col-form-label">Local</label>
<div class="col-xs-10">
<input class="form-control" type="text" id="local">
<span class="error-symbol glyphicon glyphicon-remove form-control-feedback" id="local-error"></span>
<small class="form-text text-muted">Exemplo: Rua Sacadura Cabral - Vila Oeste, Belo Horizonte - MG</small>
</div>
</div>

<div class="form-group row">
<label for="horario" class="col-xs-2 col-form-label">Horario</label>
<div class="col-xs-10">
<input class="form-control" type="time" id="horario">
<small class="form-text text-muted">Exemplo: 13:45</small>
</div>
</div>

<div class="form-group row">
<label for="data" class="col-xs-2 col-form-label">Data</label>
<div class="col-xs-10">
<input class="form-control" type="date" id="data">
<small class="form-text text-muted">Exemplo: 19-08-2011</small>
</div>
</div>

<div class="form-group row">
<label for="transporte" class="col-xs-2 col-form-label">Transporte</label>
<div class="col-xs-10">
<select class="form-control">
<option>A pé</option>
<option>Carro</option>
<option>Metrô</option>
<option>Ônibus</option>
</select>
</div>
</div>

<div class="form-group row">
<label for="descricao" class="col-xs-2 col-form-label">Descrição</label>
<div class="col-xs-10">
<input class="form-control" type="text" id="descricao">
<small class="form-text text-muted">Exemplo: Antes de ser abordado, estava...</small>
</div>
</div>

<div class="form-group row">
<label for="numero-assaltante" class="col-xs-2 col-form-label">Número de assaltantes</label>
<div class="col-xs-10">
<input class="form-control" type="number" value="1" id="numero-assaltante" min="1">
</div>
</div>

<div class="form-group row">
<label for="armado" class="col-xs-2 col-form-label">Estava armado?</label>
<label class="form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="armadoSim" value="option1"> Sim
</label>
<label class="form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="armadoNao" value="option2"> Não
</label>
</div>
</div>

<div class="block block-right">
<div class="form-group row">
<label for="transporte-assaltante" class="col-xs-2 col-form-label">Transporte dos assaltantes</label>
<div class="col-xs-10">
<select class="form-control">
<option>A pé</option>
<option>Carro</option>
<option>Metrô</option>
<option>Ônibus</option>
</select>
</div>
</div>

<div class="form-group row">
<label for="violencia" class="col-xs-2 col-form-label">Houve violência?</label>
<label class="form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="violenciaSim" value="option1"> Sim
</label>
<label class="form-check-inline">
<input class="form-check-input" type="radio" name="inlineRadioOptions" id="violenciaNao" value="option2"> Não
</label>
</div>

<div class="form-group row">
<label for="numero-acompanhantes" class="col-xs-2 col-form-label">Quantos acompanhantes você tinha?</label>
<div class="col-xs-10">
<input class="form-control" type="number" value="0" id="numero-acompanhantes" min="0">
</div>
</div>

<div class="form-group row">
<label for="codigo-bo" class="col-xs-2 col-form-label">Código do BO</label>
<div class="col-xs-10">
<input class="form-control" type="text" value="" id="codigo-bo">
</div>
</div>

<div class="form-group row">
<label for="codigo-bo" class="col-xs-2 col-form-label">O que foi roubado?</label>
<div class="col-xs-10">
<div class="block-one-third">
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
Bolsa
</label>
</div>
</div>

<div class="block-two-third">
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
Celular
</label>
</div>
</div>

<div class="block-two-third">
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
Carro
</label>
</div>
</div>

<div class="block-one-third">
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
Dinheiro
</label>
</div>
</div>

<div class="block-two-third">
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
Documento
</label>
</div>
</div>

<div class="block-two-third">
<div class="form-check">
<label class="form-check-label">
<input type="checkbox" class="form-check-input">
Tênis
</label>
</div>
</div>
</div>
</div>

<button type="submit" class="btn btn-default button-right" id="submit-button">Submit</button>
</div>
</form>

<script src="../static/js/registro_ocorrencia.js"></script>
</body>
</html>
