.map {
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
}
.block {
  width: 40%;
  margin-top: 10%;
}
.block-left {
  margin-left: 3%;
  float: left;
}
blockquote p {
    font-size: 13px;
}
.block-right {
  margin-right: 3%;
  float: right;
}
.button-right {
  float: right;
}
nav {
    opacity: 0.95;
    z-index: 1;
}
a[data-toggle=modal] {
    cursor: pointer;
}
.row.page-header > a[data-toggle=modal] {
    font-size: 12px;
}
.modal-open .modal {
    display: flex;
    height: 100%;
} 
.modal-open .modal .modal-dialog {
    margin: auto;
}
.modal .modal-footer {
    text-align: center;
}
.modal .modal-footer button.btn {
    margin-bottom: 10px;
}
.modal .modal-footer a {
    font-size: 12px;
}



