.map {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.block {
  width: 40%;
}
.block-left {
  float: left;
  margin-left: 3%;
}
blockquote p {
    font-size: 13px;
}
.block-right {
  float: right;
  margin-right: 3%;
}
.block-one-third {
  display: inline; /*Bug da margem dupla para floats no IE*/
  float: left;
  width: 30%;
}
.block-two-third {
  float: left;
  width: 30%;
}
.button-right {
  float: right;
}
.error-symbol{
  visibility: hidden;
}
#header-registro-ocorrencia {
  font-size: 40px;
  height: 12%;
  margin-top: 3%;
  text-align: center;
}
nav {
    opacity: 0.95;
    z-index: 1;
}
a[data-toggle=modal] {
    cursor: pointer;
}
.row.page-header > a[data-toggle=modal] {
    font-size: 12px;
}
.modal-open .modal {
    display: flex;
    height: 100%;
}
.modal-open .modal .modal-dialog {
    margin: auto;
}
.modal .modal-footer {
    text-align: center;
}
.modal .modal-footer button.btn {
    margin-bottom: 10px;
}
.modal .modal-footer a {
    font-size: 12px;
}
