blockquote p {
    font-size: 13px;
}
nav {
    opacity: 0.95;
    z-index: 1;
}
a[data-toggle=modal] {
    cursor: pointer;
}
.row.page-header > a[data-toggle=modal] {
    font-size: 12px;
}
.modal-open .modal {
    margin-top: 100px;
}
.modal-open .modal .modal-dialog {
    margin: auto;
}
.modal .modal-footer {
    text-align: center;
}
.modal .modal-footer button.btn {
    margin-bottom: 10px;
}
.modal .modal-footer a {
    font-size: 12px;
}
.form-group.required > label:after {
  content: '*';
  color: red;
}
.form-error {
  display: none;
  color: #ca0020;
}
.btn[type=submit] {
  margin-bottom: 20px;
}
